# Statistics Canada Data Exercise

In [1]:
# Adding imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Part 1) Data Ingestion

### Dataset 1: 98-400-X2016170 || Aboriginal Peoples

In [2]:
aboriginal_people_df = pd.read_csv("../98-400-X2016170_English_CSV_data.csv")

In [3]:
aboriginal_people_df.head()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Registered or Treaty Indian status (3),Member ID: Registered or Treaty Indian status (3),Notes: Registered or Treaty Indian status (3),...,Notes: Income statistics (17),Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4),Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5),Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6),Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7),Dim: Aboriginal identity (9): Member ID: [5]: Métis,Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit),Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8),Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9),Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity
0,2016,1,0,Canada,5.1,20000,1,Total - Population by Registered or Treaty Ind...,1,1.0,...,3.0,28643020,1224915,1191495,691405,456555,43530,15300,18120,27418100
1,2016,1,0,Canada,5.1,20000,1,Total - Population by Registered or Treaty Ind...,1,1.0,...,NaN,27489400,1139125,1107725,634225,432640,40860,14200,17200,26350270
2,2016,1,0,Canada,5.1,20000,1,Total - Population by Registered or Treaty Ind...,1,1.0,...,NaN,96,93,93,91.7,94.8,93.9,92.8,94.9,96.1
3,2016,1,0,Canada,5.1,20000,1,Total - Population by Registered or Treaty Ind...,1,1.0,...,NaN,34205,25526,25485,21875,31916,24502,24800,28813,34604
4,2016,1,0,Canada,5.1,20000,1,Total - Population by Registered or Treaty Ind...,1,1.0,...,NaN,47487,36043,35920,31519,42187,37871,41057,39795,47981

In [4]:
aborginal_geo_df = pd.read_csv("../Geo_starting_row_CSV_aborginal.csv")

In [5]:
aborginal_geo_df.head()

   Geo Code                   Geo Name  Line Number
0         1                     Canada            2
1        10  Newfoundland and Labrador         1379
2     10001                 St. John's         2756
3     10005                Bay Roberts         4133
4     10010        Grand Falls-Windsor         5510

### Dataset 2: 98-400-X2016131 || Income

In [7]:
income_df = pd.read_csv("../98-400-X2016131_English_CSV_data.csv")

In [8]:
income_df.head()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Household living arrangements for persons not in economic families (3),Member ID: Household living arrangements for persons not in economic families (3),Notes: Household living arrangements for persons not in economic families (3),...,Member ID: Sex (3),Notes: Sex (3),DIM: Presence of earner (3),Member ID: Presence of earner (3),Notes: Presence of earner (3),DIM: After-tax income groups (18),Member ID: After-tax income groups (18),Notes: After-tax income groups (18),Dim: Year (2): Member ID: [1]: 2015 (Note: 2),Dim: Year (2): Member ID: [2]: 2005 (Note: 3)
0,2016,1,0,Canada,4.0,20000,1,Total - Household living arrangements for pers...,1,NaN,...,1,NaN,Total - Presence of earner,1,NaN,Total - After-tax income,1,NaN,5313545,4307135
1,2016,1,0,Canada,4.0,20000,1,Total - Household living arrangements for pers...,1,NaN,...,1,NaN,Total - Presence of earner,1,NaN,"Under $5,000",2,NaN,315875,282555
2,2016,1,0,Canada,4.0,20000,1,Total - Household living arrangements for pers...,1,NaN,...,1,NaN,Total - Presence of earner,1,NaN,"$5,000 to $9,999",3,NaN,257870,245195
3,2016,1,0,Canada,4.0,20000,1,Total - Household living arrangements for pers...,1,NaN,...,1,NaN,Total - Presence of earner,1,NaN,"$10,000 to $14,999",4,NaN,450115,377985
4,2016,1,0,Canada,4.0,20000,1,Total - Household living arrangements for pers...,1,NaN,...,1,NaN,Total - Presence of earner,1,NaN,"$15,000 to $19,999",5,NaN,617555,587035

In [9]:
income_geo_df = pd.read_csv("../Geo_starting_row_CSV_income.csv")

In [10]:
income_geo_df.head()

   Geo Code                   Geo Name  Line Number
0         1                     Canada            2
1        10  Newfoundland and Labrador         4376
2     10001                 St. John's         8750
3     10005                Bay Roberts        13124
4     10010        Grand Falls-Windsor        17498

## Analysis of Datasets

### Dataset 1: Aboriginal Peoples

In [11]:
aboriginal_people_df.describe()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Member ID: Registered or Treaty Indian status (3),Notes: Registered or Treaty Indian status (3),Member ID: Age (9),Notes: Age (9),Member ID: Sex (3),Notes: Sex (3),Member ID: Income statistics (17),Notes: Income statistics (17)
count,239598.0,239598.000000,239598.000000,239598.000000,239598.000000,2.395980e+05,239598.000000,159732.000000,239598.000000,0.0,239598.000000,0.0,239598.00000,14094.0
mean,2016.0,1990.431034,1.959770,5.487356,1056.143678,1.861588e+05,2.000000,1.500000,5.000000,NaN,2.000000,NaN,9.00000,3.0
std,0.0,7005.784989,0.376909,1.943446,4426.031753,7.424178e+05,0.816498,0.500002,2.581994,NaN,0.816498,NaN,4.89899,0.0
min,2016.0,1.000000,0.000000,2.600000,0.000000,1.000000e+00,1.000000,1.000000,1.000000,NaN,1.000000,NaN,1.00000,3.0
25%,2016.0,428.000000,2.000000,4.400000,0.000000,2.442800e+04,1.000000,1.000000,3.000000,NaN,1.000000,NaN,5.00000,3.0
50%,2016.0,554.000000,2.000000,5.000000,0.000000,3.555400e+04,2.000000,1.500000,5.000000,NaN,2.000000,NaN,9.00000,3.0
75%,2016.0,832.000000,2.000000,6.000000,0.000000,4.883200e+04,3.000000,2.000000,7.000000,NaN,3.000000,NaN,13.00000,3.0
max,2016.0,48840.000000,3.000000,20.700000,20001.000000,4.884048e+06,3.000000,2.000000,9.000000,NaN,3.000000,NaN,17.00000,3.0

In [18]:
# Checking blank values
aboriginal_people_df[aboriginal_people_df == ' '].count()

CENSUS_YEAR                                                                                            0
GEO_CODE (POR)                                                                                         0
GEO_LEVEL                                                                                              0
GEO_NAME                                                                                               0
GNR                                                                                                    0
DATA_QUALITY_FLAG                                                                                      0
ALT_GEO_CODE                                                                                           0
DIM: Registered or Treaty Indian status (3)                                                            0
Member ID: Registered or Treaty Indian status (3)                                                      0
Notes: Registered or Treaty Indian status (3)                                                          0
DIM: Age (9)                                                                                           0
Member ID: Age (9)                                                                                     0
Notes: Age (9)                                                                                         0
DIM: Sex (3)                                                                                           0
Member ID: Sex (3)                                                                                     0
Notes: Sex (3)                                                                                         0
DIM: Income statistics (17)                                                                            0
Member ID: Income statistics (17)                                                                      0
Notes: Income statistics (17)                                                                          0
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                    0
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                            0
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                    0
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)          0
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                    0
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                             0
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                  0
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)    0
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                  0
dtype: int64

In [17]:
# Checking any blank or null values
# aboriginal_people.isnull().values.any()
aboriginal_people_df.isnull().sum()

CENSUS_YEAR                                                                                                 0
GEO_CODE (POR)                                                                                              0
GEO_LEVEL                                                                                                   0
GEO_NAME                                                                                                    0
GNR                                                                                                         0
DATA_QUALITY_FLAG                                                                                           0
ALT_GEO_CODE                                                                                                0
DIM: Registered or Treaty Indian status (3)                                                                 0
Member ID: Registered or Treaty Indian status (3)                                                           0
Notes: Registered or Treaty Indian status (3)                                                           79866
DIM: Age (9)                                                                                                0
Member ID: Age (9)                                                                                          0
Notes: Age (9)                                                                                         239598
DIM: Sex (3)                                                                                                0
Member ID: Sex (3)                                                                                          0
Notes: Sex (3)                                                                                         239598
DIM: Income statistics (17)                                                                                 0
Member ID: Income statistics (17)                                                                           0
Notes: Income statistics (17)                                                                          225504
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                         0
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                                 0
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                         0
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)               0
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                         0
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                                  0
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                       0
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)         0
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                       0
dtype: int64

In [19]:
aboriginal_people_df[aboriginal_people_df == 'x'].sum()

CENSUS_YEAR                                                                                            0.0
GEO_CODE (POR)                                                                                         0.0
GEO_LEVEL                                                                                              0.0
GEO_NAME                                                                                                 0
GNR                                                                                                    0.0
DATA_QUALITY_FLAG                                                                                      0.0
ALT_GEO_CODE                                                                                           0.0
DIM: Registered or Treaty Indian status (3)                                                              0
Member ID: Registered or Treaty Indian status (3)                                                      0.0
Notes: Registered or Treaty Indian status (3)                                                          0.0
DIM: Age (9)                                                                                             0
Member ID: Age (9)                                                                                     0.0
Notes: Age (9)                                                                                         0.0
DIM: Sex (3)                                                                                             0
Member ID: Sex (3)                                                                                     0.0
Notes: Sex (3)                                                                                         0.0
DIM: Income statistics (17)                                                                              0
Member ID: Income statistics (17)                                                                      0.0
Notes: Income statistics (17)                                                                          0.0
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                      0
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                              0
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                      0
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)            0
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                      0
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                               0
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                    0
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)      0
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                    0
dtype: object

In [20]:
aboriginal_people_df[aboriginal_people_df == 'F'].sum()
# aboriginal_people[aboriginal_people == '..'].sum()

CENSUS_YEAR                                                                                            0.0
GEO_CODE (POR)                                                                                         0.0
GEO_LEVEL                                                                                              0.0
GEO_NAME                                                                                                 0
GNR                                                                                                    0.0
DATA_QUALITY_FLAG                                                                                      0.0
ALT_GEO_CODE                                                                                           0.0
DIM: Registered or Treaty Indian status (3)                                                              0
Member ID: Registered or Treaty Indian status (3)                                                      0.0
Notes: Registered or Treaty Indian status (3)                                                          0.0
DIM: Age (9)                                                                                             0
Member ID: Age (9)                                                                                     0.0
Notes: Age (9)                                                                                         0.0
DIM: Sex (3)                                                                                             0
Member ID: Sex (3)                                                                                     0.0
Notes: Sex (3)                                                                                         0.0
DIM: Income statistics (17)                                                                              0
Member ID: Income statistics (17)                                                                      0.0
Notes: Income statistics (17)                                                                          0.0
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                      0
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                              0
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                      0
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)            0
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                      0
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                               0
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                    0
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)      0
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                    0
dtype: object

In [21]:
aboriginal_people_df[aboriginal_people_df == '..'].count()

CENSUS_YEAR                                                                                            0
GEO_CODE (POR)                                                                                         0
GEO_LEVEL                                                                                              0
GEO_NAME                                                                                               0
GNR                                                                                                    0
DATA_QUALITY_FLAG                                                                                      0
ALT_GEO_CODE                                                                                           0
DIM: Registered or Treaty Indian status (3)                                                            0
Member ID: Registered or Treaty Indian status (3)                                                      0
Notes: Registered or Treaty Indian status (3)                                                          0
DIM: Age (9)                                                                                           0
Member ID: Age (9)                                                                                     0
Notes: Age (9)                                                                                         0
DIM: Sex (3)                                                                                           0
Member ID: Sex (3)                                                                                     0
Notes: Sex (3)                                                                                         0
DIM: Income statistics (17)                                                                            0
Member ID: Income statistics (17)                                                                      0
Notes: Income statistics (17)                                                                          0
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                    0
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                            0
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                    0
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)          0
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                    0
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                             0
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                  0
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)    0
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                  0
dtype: int64

In [ ]:
# (aboriginal_people_df == '..').sum()

In [22]:
(aboriginal_people_df == '...').sum().sort_values(ascending = False)

Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                             38900
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                  33992
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)    33568
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                  18792
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                     7484
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)           4604
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                     1892
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                             1668
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                     1132
GEO_CODE (POR)                                                                                             0
Notes: Income statistics (17)                                                                              0
Member ID: Income statistics (17)                                                                          0
DIM: Income statistics (17)                                                                                0
Notes: Sex (3)                                                                                             0
CENSUS_YEAR                                                                                                0
DIM: Sex (3)                                                                                               0
Notes: Age (9)                                                                                             0
Member ID: Age (9)                                                                                         0
DIM: Age (9)                                                                                               0
Notes: Registered or Treaty Indian status (3)                                                              0
Member ID: Registered or Treaty Indian status (3)                                                          0
DIM: Registered or Treaty Indian status (3)                                                                0
ALT_GEO_CODE                                                                                               0
DATA_QUALITY_FLAG                                                                                          0
GNR                                                                                                        0
GEO_NAME                                                                                                   0
GEO_LEVEL                                                                                                  0
Member ID: Sex (3)                                                                                         0
dtype: int64

#### ~16% of data for Inuit is Not Applicable

In [23]:
aboriginal_people_df.count()

CENSUS_YEAR                                                                                            239598
GEO_CODE (POR)                                                                                         239598
GEO_LEVEL                                                                                              239598
GEO_NAME                                                                                               239598
GNR                                                                                                    239598
DATA_QUALITY_FLAG                                                                                      239598
ALT_GEO_CODE                                                                                           239598
DIM: Registered or Treaty Indian status (3)                                                            239598
Member ID: Registered or Treaty Indian status (3)                                                      239598
Notes: Registered or Treaty Indian status (3)                                                          159732
DIM: Age (9)                                                                                           239598
Member ID: Age (9)                                                                                     239598
Notes: Age (9)                                                                                              0
DIM: Sex (3)                                                                                           239598
Member ID: Sex (3)                                                                                     239598
Notes: Sex (3)                                                                                              0
DIM: Income statistics (17)                                                                            239598
Member ID: Income statistics (17)                                                                      239598
Notes: Income statistics (17)                                                                           14094
Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)                    239598
Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)                            239598
Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)                    239598
Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)          239598
Dim: Aboriginal identity (9): Member ID: [5]: Métis                                                    239598
Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)                                             239598
Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)                  239598
Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)    239598
Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity                                  239598
dtype: int64

### Dataset 2: Income

In [24]:
income_df.describe()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Member ID: Household living arrangements for persons not in economic families (3),Notes: Household living arrangements for persons not in economic families (3),Member ID: Age (9),Notes: Age (9),Member ID: Sex (3),Notes: Sex (3),Member ID: Presence of earner (3),Notes: Presence of earner (3),Member ID: After-tax income groups (18),Notes: After-tax income groups (18),Dim: Year (2): Member ID: [1]: 2015 (Note: 2),Dim: Year (2): Member ID: [2]: 2005 (Note: 3)
count,761076.0,761076.000000,761076.000000,761076.000000,761076.000000,7.610760e+05,761076.000000,0.0,761076.000000,0.0,761076.000000,0.0,761076.000000,0.0,761076.000000,42282.0,7.610760e+05,7.610760e+05
mean,2016.0,1990.431034,1.959770,4.589655,1055.747126,1.861588e+05,2.000000,NaN,5.000000,NaN,2.000000,NaN,2.000000,NaN,9.500000,1.0,2.376616e+03,2.050372e+03
std,0.0,7005.774972,0.376908,1.372224,4426.042141,7.424168e+05,0.816497,NaN,2.581991,NaN,0.816497,NaN,0.816497,NaN,5.188131,0.0,2.000843e+04,1.673855e+04
min,2016.0,1.000000,0.000000,2.800000,0.000000,1.000000e+00,1.000000,NaN,1.000000,NaN,1.000000,NaN,1.000000,NaN,1.000000,1.0,0.000000e+00,0.000000e+00
25%,2016.0,428.000000,2.000000,3.900000,0.000000,2.442800e+04,1.000000,NaN,3.000000,NaN,1.000000,NaN,1.000000,NaN,5.000000,1.0,5.000000e+00,0.000000e+00
50%,2016.0,554.000000,2.000000,4.400000,0.000000,3.555400e+04,2.000000,NaN,5.000000,NaN,2.000000,NaN,2.000000,NaN,9.500000,1.0,2.000000e+01,1.500000e+01
75%,2016.0,832.000000,2.000000,4.900000,0.000000,4.883200e+04,3.000000,NaN,7.000000,NaN,3.000000,NaN,3.000000,NaN,14.000000,1.0,1.400000e+02,1.100000e+02
max,2016.0,48840.000000,3.000000,14.300000,20000.000000,4.884048e+06,3.000000,NaN,9.000000,NaN,3.000000,NaN,3.000000,NaN,18.000000,1.0,5.313545e+06,4.307135e+06

In [25]:
income_df.isnull().sum()

CENSUS_YEAR                                                                               0
GEO_CODE (POR)                                                                            0
GEO_LEVEL                                                                                 0
GEO_NAME                                                                                  0
GNR                                                                                       0
DATA_QUALITY_FLAG                                                                         0
ALT_GEO_CODE                                                                              0
DIM: Household living arrangements for persons not in economic families (3)               0
Member ID: Household living arrangements for persons not in economic families (3)         0
Notes: Household living arrangements for persons not in economic families (3)        761076
DIM: Age (9)                                                                              0
Member ID: Age (9)                                                                        0
Notes: Age (9)                                                                       761076
DIM: Sex (3)                                                                              0
Member ID: Sex (3)                                                                        0
Notes: Sex (3)                                                                       761076
DIM: Presence of earner (3)                                                               0
Member ID: Presence of earner (3)                                                         0
Notes: Presence of earner (3)                                                        761076
DIM: After-tax income groups (18)                                                         0
Member ID: After-tax income groups (18)                                                   0
Notes: After-tax income groups (18)                                                  718794
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                             0
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                             0
dtype: int64

In [26]:
income_df[income_df == 'x'].sum()

CENSUS_YEAR                                                                          0.0
GEO_CODE (POR)                                                                       0.0
GEO_LEVEL                                                                            0.0
GEO_NAME                                                                               0
GNR                                                                                  0.0
DATA_QUALITY_FLAG                                                                    0.0
ALT_GEO_CODE                                                                         0.0
DIM: Household living arrangements for persons not in economic families (3)            0
Member ID: Household living arrangements for persons not in economic families (3)    0.0
Notes: Household living arrangements for persons not in economic families (3)        0.0
DIM: Age (9)                                                                           0
Member ID: Age (9)                                                                   0.0
Notes: Age (9)                                                                       0.0
DIM: Sex (3)                                                                           0
Member ID: Sex (3)                                                                   0.0
Notes: Sex (3)                                                                       0.0
DIM: Presence of earner (3)                                                            0
Member ID: Presence of earner (3)                                                    0.0
Notes: Presence of earner (3)                                                        0.0
DIM: After-tax income groups (18)                                                      0
Member ID: After-tax income groups (18)                                              0.0
Notes: After-tax income groups (18)                                                  0.0
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                        0.0
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                        0.0
dtype: object

In [27]:
income_df[income_df == 'F'].sum()

CENSUS_YEAR                                                                          0.0
GEO_CODE (POR)                                                                       0.0
GEO_LEVEL                                                                            0.0
GEO_NAME                                                                               0
GNR                                                                                  0.0
DATA_QUALITY_FLAG                                                                    0.0
ALT_GEO_CODE                                                                         0.0
DIM: Household living arrangements for persons not in economic families (3)            0
Member ID: Household living arrangements for persons not in economic families (3)    0.0
Notes: Household living arrangements for persons not in economic families (3)        0.0
DIM: Age (9)                                                                           0
Member ID: Age (9)                                                                   0.0
Notes: Age (9)                                                                       0.0
DIM: Sex (3)                                                                           0
Member ID: Sex (3)                                                                   0.0
Notes: Sex (3)                                                                       0.0
DIM: Presence of earner (3)                                                            0
Member ID: Presence of earner (3)                                                    0.0
Notes: Presence of earner (3)                                                        0.0
DIM: After-tax income groups (18)                                                      0
Member ID: After-tax income groups (18)                                              0.0
Notes: After-tax income groups (18)                                                  0.0
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                        0.0
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                        0.0
dtype: object

In [28]:
income_df[income_df == '..'].sum()

CENSUS_YEAR                                                                          0.0
GEO_CODE (POR)                                                                       0.0
GEO_LEVEL                                                                            0.0
GEO_NAME                                                                               0
GNR                                                                                  0.0
DATA_QUALITY_FLAG                                                                    0.0
ALT_GEO_CODE                                                                         0.0
DIM: Household living arrangements for persons not in economic families (3)            0
Member ID: Household living arrangements for persons not in economic families (3)    0.0
Notes: Household living arrangements for persons not in economic families (3)        0.0
DIM: Age (9)                                                                           0
Member ID: Age (9)                                                                   0.0
Notes: Age (9)                                                                       0.0
DIM: Sex (3)                                                                           0
Member ID: Sex (3)                                                                   0.0
Notes: Sex (3)                                                                       0.0
DIM: Presence of earner (3)                                                            0
Member ID: Presence of earner (3)                                                    0.0
Notes: Presence of earner (3)                                                        0.0
DIM: After-tax income groups (18)                                                      0
Member ID: After-tax income groups (18)                                              0.0
Notes: After-tax income groups (18)                                                  0.0
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                        0.0
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                        0.0
dtype: object

In [29]:
(income_df == '...').sum()

CENSUS_YEAR                                                                          0
GEO_CODE (POR)                                                                       0
GEO_LEVEL                                                                            0
GEO_NAME                                                                             0
GNR                                                                                  0
DATA_QUALITY_FLAG                                                                    0
ALT_GEO_CODE                                                                         0
DIM: Household living arrangements for persons not in economic families (3)          0
Member ID: Household living arrangements for persons not in economic families (3)    0
Notes: Household living arrangements for persons not in economic families (3)        0
DIM: Age (9)                                                                         0
Member ID: Age (9)                                                                   0
Notes: Age (9)                                                                       0
DIM: Sex (3)                                                                         0
Member ID: Sex (3)                                                                   0
Notes: Sex (3)                                                                       0
DIM: Presence of earner (3)                                                          0
Member ID: Presence of earner (3)                                                    0
Notes: Presence of earner (3)                                                        0
DIM: After-tax income groups (18)                                                    0
Member ID: After-tax income groups (18)                                              0
Notes: After-tax income groups (18)                                                  0
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                        0
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                        0
dtype: int64

In [30]:
income_df.count()

CENSUS_YEAR                                                                          761076
GEO_CODE (POR)                                                                       761076
GEO_LEVEL                                                                            761076
GEO_NAME                                                                             761076
GNR                                                                                  761076
DATA_QUALITY_FLAG                                                                    761076
ALT_GEO_CODE                                                                         761076
DIM: Household living arrangements for persons not in economic families (3)          761076
Member ID: Household living arrangements for persons not in economic families (3)    761076
Notes: Household living arrangements for persons not in economic families (3)             0
DIM: Age (9)                                                                         761076
Member ID: Age (9)                                                                   761076
Notes: Age (9)                                                                            0
DIM: Sex (3)                                                                         761076
Member ID: Sex (3)                                                                   761076
Notes: Sex (3)                                                                            0
DIM: Presence of earner (3)                                                          761076
Member ID: Presence of earner (3)                                                    761076
Notes: Presence of earner (3)                                                             0
DIM: After-tax income groups (18)                                                    761076
Member ID: After-tax income groups (18)                                              761076
Notes: After-tax income groups (18)                                                   42282
Dim: Year (2): Member ID: [1]: 2015 (Note: 2)                                        761076
Dim: Year (2): Member ID: [2]: 2005 (Note: 3)                                        761076
dtype: int64

## Pre-processing of Datasets

### Dataset 1: Aborginal Peoples

In [ ]:
# aboriginal_people.head()

In [31]:
print(list(aboriginal_people_df))

['CENSUS_YEAR', 'GEO_CODE (POR)', 'GEO_LEVEL', 'GEO_NAME', 'GNR', 'DATA_QUALITY_FLAG', 'ALT_GEO_CODE', 'DIM: Registered or Treaty Indian status (3)', 'Member ID: Registered or Treaty Indian status (3)', 'Notes: Registered or Treaty Indian status (3)', 'DIM: Age (9)', 'Member ID: Age (9)', 'Notes: Age (9)', 'DIM: Sex (3)', 'Member ID: Sex (3)', 'Notes: Sex (3)', 'DIM: Income statistics (17)', 'Member ID: Income statistics (17)', 'Notes: Income statistics (17)', 'Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)', 'Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)', 'Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)', 'Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)', 'Dim: Aboriginal identity (9): Member ID: [5]: Métis', 'Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)', 'Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)', 'Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)', 'Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity']

In [32]:
aboriginal_people = aboriginal_people_df.copy()

In [33]:
aboriginal_people = aboriginal_people.drop(['CENSUS_YEAR', 'GEO_CODE (POR)',
             'DIM: Registered or Treaty Indian status (3)', 'Notes: Registered or Treaty Indian status (3)', 
             'DIM: Age (9)','Notes: Age (9)', 
             'DIM: Sex (3)','Notes: Sex (3)',
             'DIM: Income statistics (17)', 'Notes: Income statistics (17)'], axis=1)

In [34]:
aboriginal_people.rename(columns = {'Member ID: Registered or Treaty Indian status (3)':'Registered or Treaty Indian status', 
                                    'Member ID: Age (9)':'Age',
                                   'Member ID: Sex (3)': 'Sex',
                                   'Member ID: Income statistics (17)':'Income statistics',
                                   'Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)': 'Total - Aboriginal identity',
                                    'Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)':'Aboriginal identity', 
                                    'Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)': 'Single Aboriginal responses', 
                                    'Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)': 'First Nations (North American Indian)',
                                    'Dim: Aboriginal identity (9): Member ID: [5]: Métis': 'Métis', 
                                    'Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)': 'Inuk (Inuit)', 
                                    'Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)' : 'Multiple Aboriginal responses', 
                                    'Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)': 'Aboriginal responses not included elsewhere', 
                                    'Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity': 'Non-Aboriginal identity'}, inplace = True)

In [35]:
# aboriginal_people_df.head()

In [36]:
aboriginal_people.head()

,GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Registered or Treaty Indian status,Age,Sex,Income statistics,Total - Aboriginal identity,Aboriginal identity,Single Aboriginal responses,First Nations (North American Indian),Métis,Inuk (Inuit),Multiple Aboriginal responses,Aboriginal responses not included elsewhere,Non-Aboriginal identity
0,0,Canada,5.1,20000,1,1,1,1,1,28643020,1224915,1191495,691405,456555,43530,15300,18120,27418100
1,0,Canada,5.1,20000,1,1,1,1,2,27489400,1139125,1107725,634225,432640,40860,14200,17200,26350270
2,0,Canada,5.1,20000,1,1,1,1,3,96,93,93,91.7,94.8,93.9,92.8,94.9,96.1
3,0,Canada,5.1,20000,1,1,1,1,4,34205,25526,25485,21875,31916,24502,24800,28813,34604
4,0,Canada,5.1,20000,1,1,1,1,5,47487,36043,35920,31519,42187,37871,41057,39795,47981

In [37]:
PreProcRes = aboriginal_people.to_csv('Pre-processing_Results.csv', index = False)

### Adding Four-Region Column in Dataset 1

In [38]:
aboriginal_people['ALT_GEO_CODE'].dtypes

dtype('int64')

In [39]:
aboriginal_people['GEO_CODE_string'] = aboriginal_people['ALT_GEO_CODE'].astype(str)
aboriginal_people.head()

,GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Registered or Treaty Indian status,Age,Sex,Income statistics,Total - Aboriginal identity,Aboriginal identity,Single Aboriginal responses,First Nations (North American Indian),Métis,Inuk (Inuit),Multiple Aboriginal responses,Aboriginal responses not included elsewhere,Non-Aboriginal identity,GEO_CODE_string
0,0,Canada,5.1,20000,1,1,1,1,1,28643020,1224915,1191495,691405,456555,43530,15300,18120,27418100,1
1,0,Canada,5.1,20000,1,1,1,1,2,27489400,1139125,1107725,634225,432640,40860,14200,17200,26350270,1
2,0,Canada,5.1,20000,1,1,1,1,3,96,93,93,91.7,94.8,93.9,92.8,94.9,96.1,1
3,0,Canada,5.1,20000,1,1,1,1,4,34205,25526,25485,21875,31916,24502,24800,28813,34604,1
4,0,Canada,5.1,20000,1,1,1,1,5,47487,36043,35920,31519,42187,37871,41057,39795,47981,1

In [40]:
def all_region(code):
    reg = ''
    if code[:2] == '60' or code[:2] == '61' or code[:2] == '62':
        reg = 'Northern Canada'
    if code[:2] == '10' or code[:2] == '11' or code[:2] == '12' or code[:2] == '13':
        reg = 'Atlantic Canada'
    if code[:2] == '24' or code[:2] == '35':
        reg = 'Central Canada'
    if code[:2] == '46' or code[:2] == '47' or code[:2] == '48' or code[:2] == '59':
        reg = 'Western Canada'
    if code[:2] == '1':
        reg = 'Canada'
    return reg

def tot_region(code):
    reg = ''
    if code == '60' or code == '61' or code == '62':
        reg = 'Northern Canada'
    elif code == '10' or code == '11' or code == '12' or code == '13':
        reg = 'Atlantic Canada'
    elif code == '24' or code == '35':
        reg = 'Central Canada'
    elif code == '46' or code == '47' or code == '48' or code == '59':
        reg = 'Western Canada'
    elif code == '1':
        reg = 'Canada'
    else:
        reg = 'NA'
    return reg

In [41]:
# aboriginal_people['GEO_CODE_string'][100][:2]

In [42]:
aboriginal_people['All Region'] = aboriginal_people.apply(lambda x : all_region(x['GEO_CODE_string']), axis = 1)
aboriginal_people['Four-Region'] = aboriginal_people.apply(lambda x : tot_region(x['GEO_CODE_string']), axis = 1)

In [44]:
aboriginal_people.head()

,GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Registered or Treaty Indian status,Age,Sex,Income statistics,Total - Aboriginal identity,...,Single Aboriginal responses,First Nations (North American Indian),Métis,Inuk (Inuit),Multiple Aboriginal responses,Aboriginal responses not included elsewhere,Non-Aboriginal identity,GEO_CODE_string,All Region,Four-Region
0,0,Canada,5.1,20000,1,1,1,1,1,28643020,...,1191495,691405,456555,43530,15300,18120,27418100,1,Canada,Canada
1,0,Canada,5.1,20000,1,1,1,1,2,27489400,...,1107725,634225,432640,40860,14200,17200,26350270,1,Canada,Canada
2,0,Canada,5.1,20000,1,1,1,1,3,96,...,93,91.7,94.8,93.9,92.8,94.9,96.1,1,Canada,Canada
3,0,Canada,5.1,20000,1,1,1,1,4,34205,...,25485,21875,31916,24502,24800,28813,34604,1,Canada,Canada
4,0,Canada,5.1,20000,1,1,1,1,5,47487,...,35920,31519,42187,37871,41057,39795,47981,1,Canada,Canada

In [ ]:
Region = aboriginal_people.to_csv('Region_Results.csv', index = False)

### Dataset 2: Income

In [45]:
print(list(income_df))

['CENSUS_YEAR', 'GEO_CODE (POR)', 'GEO_LEVEL', 'GEO_NAME', 'GNR', 'DATA_QUALITY_FLAG', 'ALT_GEO_CODE', 'DIM: Household living arrangements for persons not in economic families (3)', 'Member ID: Household living arrangements for persons not in economic families (3)', 'Notes: Household living arrangements for persons not in economic families (3)', 'DIM: Age (9)', 'Member ID: Age (9)', 'Notes: Age (9)', 'DIM: Sex (3)', 'Member ID: Sex (3)', 'Notes: Sex (3)', 'DIM: Presence of earner (3)', 'Member ID: Presence of earner (3)', 'Notes: Presence of earner (3)', 'DIM: After-tax income groups (18)', 'Member ID: After-tax income groups (18)', 'Notes: After-tax income groups (18)', 'Dim: Year (2): Member ID: [1]: 2015 (Note: 2)', 'Dim: Year (2): Member ID: [2]: 2005 (Note: 3)']

In [47]:
income = income_df.copy()

In [48]:
income = income.drop(['CENSUS_YEAR', 'GEO_CODE (POR)',
'DIM: Household living arrangements for persons not in economic families (3)',
                      'Notes: Household living arrangements for persons not in economic families (3)',
                      'DIM: Age (9)', 'Notes: Age (9)',
                      'DIM: Sex (3)','Notes: Sex (3)',
                      'DIM: Presence of earner (3)',  'Notes: Presence of earner (3)', 
                      'DIM: After-tax income groups (18)', 'Notes: After-tax income groups (18)'], axis=1)


income.rename(columns = {'Member ID: Household living arrangements for persons not in economic families (3)':'Household living arrangements for persons not in economic families', 
                                    'Member ID: Age (9)':'Age',
                                   'Member ID: Sex (3)': 'Sex',
                                   'Member ID: Presence of earner (3)':'Presence of earner',
                                   'Member ID: After-tax income groups (18)': 'After-tax income groups',
                                    'Dim: Year (2): Member ID: [1]: 2015 (Note: 2)':'2015', 
                                    'Dim: Year (2): Member ID: [2]: 2005 (Note: 3)': '2005'}, inplace = True)

In [49]:
income.head()

,GEO_LEVEL,GEO_NAME,GNR,DATA_QUALITY_FLAG,ALT_GEO_CODE,Household living arrangements for persons not in economic families,Age,Sex,Presence of earner,After-tax income groups,2015,2005
0,0,Canada,4.0,20000,1,1,1,1,1,1,5313545,4307135
1,0,Canada,4.0,20000,1,1,1,1,1,2,315875,282555
2,0,Canada,4.0,20000,1,1,1,1,1,3,257870,245195
3,0,Canada,4.0,20000,1,1,1,1,1,4,450115,377985
4,0,Canada,4.0,20000,1,1,1,1,1,5,617555,587035

## Part 2) Metrics Calculation

###  a.	Proportion of population by “Aboriginal Identity” and “Non-Aboriginal Identity”

In [50]:
filter_list = aboriginal_people['Four-Region'].unique()
filter_list = np.delete(filter_list, 2)
filter_list = np.delete(filter_list, 0)

filter_list

array(['Atlantic Canada', 'Central Canada', 'Western Canada',
       'Northern Canada'], dtype=object)

In [ ]:
# reg_list = filter_list.tolist()
# reg_list

In [51]:
data = []
Pop = pd.DataFrame(data)

In [52]:
Pop['Region']= filter_list

In [53]:
Pop

            Region
0  Atlantic Canada
1   Central Canada
2   Western Canada
3  Northern Canada

In [54]:
## Define function # for loops

In [55]:
ab_list = []
for i in Pop['Region']:
    ab_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).sum())

In [56]:
ab_list

[100835, 427715, 654975, 41400]

In [57]:
Pop['Aboriginal identity Population'] = ab_list

In [58]:
nab_list = []
for i in Pop['Region']:
    nab_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].astype(int).sum())

In [59]:
nab_list

[1849295, 17245005, 8280055, 43740]

In [60]:
Pop['Non-Aboriginal identity Population'] = nab_list

In [61]:
Pop['Aboriginal & Non-Aboriginal Population Proportion'] = Pop['Aboriginal identity Population']/ Pop['Non-Aboriginal identity Population']

In [62]:
Pop.head()

,Region,Aboriginal identity Population,Non-Aboriginal identity Population,Aboriginal & Non-Aboriginal Population Proportion
0,Atlantic Canada,100835,1849295,0.054526
1,Central Canada,427715,17245005,0.024802
2,Western Canada,654975,8280055,0.079103
3,Northern Canada,41400,43740,0.946502

In [63]:
# Pop = aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
#                  & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1)].groupby('Four-Region')
# Pop.get_group('Central Canada')

#### Difference in count because of "...": Not Applicable data

### b.	Average Total Income for “Aboriginal Identity” and “Non-Aboriginal Identity”

In [ ]:
# income = pop * avg income -> sum
# https://stats.stackexchange.com/questions/133138/will-the-mean-of-a-set-of-means-always-be-the-same-as-the-mean-obtained-from-the

In [ ]:
abi_list = []
for i in Pop['Region']:
    abi_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 5) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).sum()/aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 5) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].count())

In [ ]:
abi_list

In [ ]:
Pop['Aboriginal identity Avg Income'] = abi_list

In [ ]:
nabi_list = []
for i in Pop["Region"]:
    nabi_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 5) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].astype(int).sum()/aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 5) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].count())

In [ ]:
nabi_list

In [ ]:
Pop['Non-Aboriginal identity Avg Income'] = nabi_list

In [ ]:
Pop.head()

### c.	Proportion of male vs. female population by “Aboriginal Identity” and “Non-Aboriginal Identity”

In [ ]:
abm_list = []
for i in Pop['Region']:
    abm_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 2) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).sum())

In [ ]:
abm_list

In [ ]:
Pop['Aboriginal identity Male Population'] = abm_list

In [ ]:
nabm_list = []
for i in Pop["Region"]:
    nabm_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 2) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].astype(int).sum())

In [ ]:
nabm_list

In [ ]:
Pop['Non-Aboriginal identity Male Population'] = nabm_list

In [ ]:
abf_list = []
for i in Pop["Region"]:
    abf_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 3) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).sum())

Pop['Aboriginal identity Female Population'] = abf_list

nabf_list = []
for i in Pop["Region"]:
    nabf_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 3) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].astype(int).sum())
    
Pop['Non-Aboriginal identity Female Population'] = nabf_list

In [ ]:
Pop['Male vs Female Population Aboriginal identity'] = Pop['Aboriginal identity Male Population']/Pop['Aboriginal identity Female Population']

In [ ]:
Pop['Male vs Female Population Non-Aboriginal identity '] = Pop['Non-Aboriginal identity Male Population']/Pop['Non-Aboriginal identity Female Population']

In [ ]:
Pop.head()

### d.	Age group with most number of individuals with “Aboriginal identity”

In [ ]:
abimax = []

for i in Pop["Region"]:
    abimax.append(str(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1)
             & (aboriginal_people.Age != 1) & (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).max()))

In [ ]:
abimax

In [ ]:
# aboriginal_people['Aboriginal identity']

In [ ]:
aba_list = []
for i in abimax:
    aba_list.append(int(aboriginal_people[(aboriginal_people['Aboriginal identity'] == i) & (aboriginal_people['Registered or Treaty Indian status'] == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1)]['Age']))

In [ ]:
aba_list

In [ ]:
Pop['Aboriginal identity Max Age Group'] = aba_list
# Pop['Non-Aboriginal identity Max Age Population'] = naba_list

In [ ]:
# a = aboriginal_people.loc[aboriginal_people['Aboriginal identity'] == str(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1)
#                  & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1) & 
#                   (aboriginal_people['Four-Region'] == 'Canada')]['Aboriginal identity'].astype(int).max())]['Age']

In [ ]:
Pop.head()

In [ ]:
Pop_res = Pop.to_csv('Pop_Results.csv', index = False)

#### Age 25 to 64 years have most number of individuals with “Aboriginal identity”

## Part 3) Heat map to visualize the total Aboriginal population by Canadian Geography

In [ ]:
# Pop['Region_category'] = Pop.index
# Pop.head()

In [ ]:
# aboriginal_pop = Pop[['Region_category', 'Aboriginal identity Population']]
# aboriginal_pop.head()

In [ ]:
# sns.heatmap(aboriginal_pop, annot=True)

In [ ]:
# aboriginal_pop.groupby('Region_category')[['Aboriginal identity Population']]

In [ ]:
Ab_pop = Pop.copy()
Ab_pop= Ab_pop.sort_values(by='Aboriginal identity Population')

In [ ]:
table = pd.pivot_table(Ab_pop, values='Aboriginal identity Population', index=['Region'], aggfunc=np.sum, sort = False)

In [ ]:
table

In [ ]:
ax = sns.heatmap(table, square=True, cmap="Greens")
plt.setp( ax.xaxis.get_majorticklabels(), rotation=90 )
# plt.tight_layout()
plt.show()

## Part 4) Visualizing the population and Average Total Income by selecting the various Dimensions

In [ ]:
aboriginal_people.head()

In [ ]:
vis = aboriginal_people[['GEO_NAME', 'ALT_GEO_CODE','Registered or Treaty Indian status','Age','Sex','Income statistics','Total - Aboriginal identity','Aboriginal identity' ,'Non-Aboriginal identity', 'Four-Region' ]]

In [ ]:
vis = vis[ (vis['Income statistics'] == 1) | (vis['Income statistics'] == 5) ]

In [ ]:
vis.head()

In [ ]:
vis_pop = vis[vis['Income statistics'] == 1]
vis_pop.head()

In [ ]:
vis_inc = vis[vis['Income statistics'] == 5]
vis_inc.head()

In [ ]:
vis['Sex'] = vis['Sex'].replace(2, 'Male')
vis['Sex'] = vis['Sex'].replace(3, 'Female')


vis['Age'] = vis['Age'].replace(2, '15 to 24 years')
vis['Age'] = vis['Age'].replace(3,'25 to 64 years')
vis['Age'] = vis['Age'].replace(4,'25 to 54 years')
vis['Age'] = vis['Age'].replace(5,'25 to 34 years')
vis['Age'] = vis['Age'].replace(6,'35 to 44 years')
vis['Age'] = vis['Age'].replace(7,'45 to 54 years')
vis['Age'] = vis['Age'].replace(8,'55 to 64 years')
vis['Age'] = vis['Age'].replace(9,'65 years and over')

vis['Income statistics'] = vis['Income statistics'].replace(1, 'Total Population')
vis['Income statistics'] = vis['Income statistics'].replace(5, 'Total Average Income')


vis

In [ ]:
vis.to_csv('Visual.csv', index = False)

## Part 5) Joining Dataset 1 and 2 and create a single dataset as per Canadian Province

In [ ]:
aboriginal_people

In [ ]:
income

In [ ]:
list(aboriginal_people['ALT_GEO_CODE'].unique()) == list(income['ALT_GEO_CODE'].unique())

In [ ]:
len(list(aboriginal_people['ALT_GEO_CODE'].unique()))

In [ ]:
samset1 = aboriginal_people['ALT_GEO_CODE'].unique()

In [ ]:
samset = [10, 11]

In [ ]:
aboriginal_people_s = aboriginal_people[aboriginal_people['ALT_GEO_CODE'].isin(samset)]

In [ ]:
samset2 = income['ALT_GEO_CODE'].unique()[:2]

In [ ]:
income_s = income[income['ALT_GEO_CODE'].isin(samset)]

In [ ]:
# #Taking 20% of data
# aboriginal_people_s = aboriginal_people.sample(n = 10000)
# income_s = income.sample(n = 20000)

In [ ]:
aps = aboriginal_people_s.to_csv('aboriginal_people_s.csv', index = False)
i_s = income_s.to_csv('income_s.csv', index = False)

In [ ]:
aps = pd.read_csv('aboriginal_people_s.csv')
i_s = pd.read_csv('income_s.csv')

In [ ]:
df = pd.merge(aps, i_s, on='ALT_GEO_CODE', how = 'inner')

In [ ]:
# df = pd.merge(aboriginal_people_s, income_s, on='ALT_GEO_CODE', how = 'inner')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df_res = df.to_csv('df.csv', index = False)

In [ ]:
Province = ['Newfoundland and Labrador','Prince Edward Island',
'Nova Scotia',
'New Brunswick',
'Quebec',
'Ontario',
'Manitoba',
'Saskatchewan',
'Alberta',
'British Columbia',
'Yukon',
'Northwest Territories',
'Nunavut']

In [ ]:
Province_code = [10, 11, 12, 13, 24, 35, 46, 47, 48, 59, 60, 61, 62]

In [ ]:
# df[(df.Sex_y == 1) & (df.Age_y == 1) & (df.Sex_x == 1) & (df.Age_x == 1)
#   & (df['Income statistics'] == 1) & (df['ALT_GEO_CODE'] == 10)]
# .groupby() #Pop_mdf.get_group('Central Canada')

In [ ]:
df.head()

In [ ]:
# df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1) & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == 1)]['Total - Aboriginal identity'].unique()

In [ ]:
# df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1) & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == 10)]['Total - Aboriginal identity'].unique()

In [ ]:
abl = []
for i in [10, 11]:
    abl.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1) & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Aboriginal identity'].unique()))
# Filter/ Group by for province code and the Aboriginal and Non-aboriginal values

In [ ]:
abl

In [ ]:
nabl = []
for i in [10, 11]:
    nabl.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1) & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Non-Aboriginal identity'].unique()))
# Filter/ Group by for province code and the Aboriginal and Non-aboriginal values

In [ ]:
nabl

In [ ]:
tot14 = []
for i in [10, 11]:
    tot14.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1)
     & (df['Presence of earner'] == 3) & (df['Household living arrangements for persons not in economic families'] == 1)
                   & (df['After-tax income groups'] == 14)
    & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Total - Aboriginal identity']))

In [ ]:
tot14

In [ ]:
tot15 = []
for i in [10, 11]:
    tot15.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1)
     & (df['Presence of earner'] == 3) & (df['Household living arrangements for persons not in economic families'] == 1)
                   & (df['After-tax income groups'] == 15)
    & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Total - Aboriginal identity']))

In [ ]:
tot15

In [ ]:
tot16 = []
for i in [10, 11]:
    tot16.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1)
     & (df['Presence of earner'] == 3) & (df['Household living arrangements for persons not in economic families'] == 1)
                   & (df['After-tax income groups'] == 16)
    & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Total - Aboriginal identity']))

In [ ]:
tot16

In [ ]:
tot17 = []
for i in [10, 11]:
    tot17.append(int(df[(df['Registered or Treaty Indian status'] == 1) & (df.Age_x == 1) & (df.Age_y == 1)
     & (df['Presence of earner'] == 3) & (df['Household living arrangements for persons not in economic families'] == 1)
                   & (df['After-tax income groups'] == 14)
    & (df['Income statistics'] == 1) & (df.Sex_x == 1) & (df.Sex_y == 1) & (df['ALT_GEO_CODE'] == i)]['Total - Aboriginal identity']))

In [ ]:
tot17

In [ ]:
result_list = list(map(lambda a, b, c, d: a + b+ c+ d, tot14, tot15, tot16, tot17))

In [ ]:
result_list

In [ ]:
# c.Total population in 2015 in high income group (after-tax income >= $70,000) where an earner is present in the household
# Year = 2015
# Age = 1
# Sex = 1
# Earner = 3
# after-tax income = 14 , 15, 16, 17
# Household living arrangements for persons not in economic families = 1
# filter as per province code

## Converting Code into a script

In [64]:
def get_file_data(filepath):
    df = pd.read_csv(filepath)
    return df

In [65]:
def load_data_and_calculate_symbol_counts(filepath):
    df = get_file_data(filepath)
    df_count = df.count()
    
    blank_values = df[df == ' '].count() # Counting Blank Values
    null_values = df.isnull().sum() # Counting Null Values
    x_values = df[df == 'x'].sum()
    f_values = df[df == 'F'].sum()
    dd_values = df[df == '..'].count()
    ddd_values = (df == '...').sum().sort_values(ascending = False)
    
    return {"df": df,
            "df_count": df_count, 
            "blank_values": blank_values,
            "null_values": null_values,
            "x_values": x_values,
            "f_values": f_values,
            "dd_values": dd_values,
            "ddd_values": ddd_values}

In [66]:
# Data Files
aboriginal_people_filepath = "../98-400-X2016170_English_CSV_data.csv"
aborginal_geo_filepath = "../Geo_starting_row_CSV_aborginal.csv"
income_filepath = "../98-400-X2016131_English_CSV_data.csv"
income_geo_filepath = "../Geo_starting_row_CSV_income.csv"

In [67]:
aboriginal_people = load_data_and_calculate_symbol_counts(aboriginal_people_filepath)
aborginal_geo = load_data_and_calculate_symbol_counts(aborginal_geo_filepath) 
income = load_data_and_calculate_symbol_counts(income_filepath)
income_geo = load_data_and_calculate_symbol_counts(income_geo_filepath)

In [68]:
def all_region(code):
    reg = ''
    if code[:2] == '60' or code[:2] == '61' or code[:2] == '62':
        reg = 'Northern Canada'
    if code[:2] == '10' or code[:2] == '11' or code[:2] == '12' or code[:2] == '13':
        reg = 'Atlantic Canada'
    if code[:2] == '24' or code[:2] == '35':
        reg = 'Central Canada'
    if code[:2] == '46' or code[:2] == '47' or code[:2] == '48' or code[:2] == '59':
        reg = 'Western Canada'
    if code[:2] == '1':
        reg = 'Canada'
    return reg

def tot_region(code):
    reg = ''
    if code == '60' or code == '61' or code == '62':
        reg = 'Northern Canada'
    elif code == '10' or code == '11' or code == '12' or code == '13':
        reg = 'Atlantic Canada'
    elif code == '24' or code == '35':
        reg = 'Central Canada'
    elif code == '46' or code == '47' or code == '48' or code == '59':
        reg = 'Western Canada'
    elif code == '1':
        reg = 'Canada'
    else:
        reg = 'NA'
    return reg
    return

In [69]:
def preprocess_save_add_four_region_in_aborginal_people(df):
    df = df.drop(['CENSUS_YEAR', 'GEO_CODE (POR)',
             'DIM: Registered or Treaty Indian status (3)', 'Notes: Registered or Treaty Indian status (3)', 
             'DIM: Age (9)','Notes: Age (9)', 
             'DIM: Sex (3)','Notes: Sex (3)',
             'DIM: Income statistics (17)', 'Notes: Income statistics (17)'], axis=1)
    df.rename(columns = {'Member ID: Registered or Treaty Indian status (3)':'Registered or Treaty Indian status', 
                                    'Member ID: Age (9)':'Age',
                                   'Member ID: Sex (3)': 'Sex',
                                   'Member ID: Income statistics (17)':'Income statistics',
                                   'Dim: Aboriginal identity (9): Member ID: [1]: Total - Aboriginal identity (Note: 4)': 'Total - Aboriginal identity',
                                    'Dim: Aboriginal identity (9): Member ID: [2]: Aboriginal identity (Note: 5)':'Aboriginal identity', 
                                    'Dim: Aboriginal identity (9): Member ID: [3]: Single Aboriginal responses (Note: 6)': 'Single Aboriginal responses', 
                                    'Dim: Aboriginal identity (9): Member ID: [4]: First Nations (North American Indian) (Note: 7)': 'First Nations (North American Indian)',
                                    'Dim: Aboriginal identity (9): Member ID: [5]: Métis': 'Métis', 
                                    'Dim: Aboriginal identity (9): Member ID: [6]: Inuk (Inuit)': 'Inuk (Inuit)', 
                                    'Dim: Aboriginal identity (9): Member ID: [7]: Multiple Aboriginal responses (Note: 8)' : 'Multiple Aboriginal responses', 
                                    'Dim: Aboriginal identity (9): Member ID: [8]: Aboriginal responses not included elsewhere (Note: 9)': 'Aboriginal responses not included elsewhere', 
                                    'Dim: Aboriginal identity (9): Member ID: [9]: Non-Aboriginal identity': 'Non-Aboriginal identity'}, inplace = True)
    df.to_csv('Pre-processing_Results.csv', index = False)
    
    df['GEO_CODE_string'] = df['ALT_GEO_CODE'].astype(str)
    df['All Region'] = df.apply(lambda x : all_region(x['GEO_CODE_string']), axis = 1)
    df['Four-Region'] = df.apply(lambda x : tot_region(x['GEO_CODE_string']), axis = 1)
    
    df.to_csv('Region_Results.csv', index = False)
    return

In [70]:
def preprocess_income_data(df):
    df = df.drop(['CENSUS_YEAR', 'GEO_CODE (POR)',
    'DIM: Household living arrangements for persons not in economic families (3)',
                          'Notes: Household living arrangements for persons not in economic families (3)',
                          'DIM: Age (9)', 'Notes: Age (9)',
                          'DIM: Sex (3)','Notes: Sex (3)',
                          'DIM: Presence of earner (3)',  'Notes: Presence of earner (3)', 
                          'DIM: After-tax income groups (18)', 'Notes: After-tax income groups (18)'], axis=1)


    df.rename(columns = {'Member ID: Household living arrangements for persons not in economic families (3)':'Household living arrangements for persons not in economic families', 
                                        'Member ID: Age (9)':'Age',
                                       'Member ID: Sex (3)': 'Sex',
                                       'Member ID: Presence of earner (3)':'Presence of earner',
                                       'Member ID: After-tax income groups (18)': 'After-tax income groups',
                                        'Dim: Year (2): Member ID: [1]: 2015 (Note: 2)':'2015', 
                                        'Dim: Year (2): Member ID: [2]: 2005 (Note: 3)': '2005'}, inplace = True)
    return

In [71]:
def get_aborginal_identity_and_non_aborginal_identity_population(df):
    filter_list = df['Four-Region'].unique()
    filter_list = np.delete(filter_list, 2)
    filter_list = np.delete(filter_list, 0)
    data = []
    Pop = pd.DataFrame(data)
    Pop['Region']= filter_list
    ab_list = []
    for i in Pop['Region']:
        ab_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Aboriginal identity'].astype(int).sum())
    Pop['Aboriginal identity Population'] = ab_list
    nab_list = []
    for i in Pop['Region']:
        nab_list.append(aboriginal_people[(aboriginal_people['Registered or Treaty Indian status'] == 1) & (aboriginal_people.Age == 1)
                 & (aboriginal_people['Income statistics'] == 1) & (aboriginal_people.Sex == 1) & 
                  (aboriginal_people['Four-Region'] == i)]['Non-Aboriginal identity'].astype(int).sum())
    Pop['Non-Aboriginal identity Population'] = nab_list
    Pop['Aboriginal & Non-Aboriginal Population Proportion'] = Pop['Aboriginal identity Population']/ Pop['Non-Aboriginal identity Population']
    return Pop